<link rel="stylesheet" href="/css/header.css">
<header class="header">
    <div class="header-container">
        <h1>Issue Tracker App</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </div>
</header>