<link rel="stylesheet" href="/css/create_project.css">
<h2>Create New Project</h2>
<br>
<form class="project-form" action="/projects/create" method="post">
    <div class="form-group">
        <label for="name">Project Name</label>
        <input type="text" id="name" name="name" placeholder="Enter project name" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="Enter project description" rows="4" required></textarea>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" id="author" name="author" placeholder="Enter author name" required>
    </div>
    <button type="submit" class="submit-button">Create Project</button>
</form>
