<link rel="stylesheet" href="/css/create_issue.css">
<h2>Create New Issue</h2>
<form class="issue-form" action="/issues/create-issue/<%= locals.projectId %>" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Enter issue title" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" placeholder="Enter issue description" rows="4" required></textarea>
    </div>
    <div class="form-group">
        <label for="labels">Labels</label>
        <div class="checkbox-group">
            <label><input type="checkbox" name="label" value="Bug"> Bug</label>
            <label><input type="checkbox" name="label" value="UI Improvement"> UI Improvement</label>
            <label><input type="checkbox" name="label" value="Documentation"> Documentation</label>
            <label><input type="checkbox" name="label" value="Enhancement"> Enhancement</label>
            <label><input type="checkbox" name="label" value="Duplicate"> Duplicate</label>
            <label><input type="checkbox" name="label" value="Other"> Other</label>
        </div>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input type="text" id="author" name="author" placeholder="Enter author name" required>
    </div>
    <button type="submit" class="submit-button">Create Issue</button>
</form>