<link rel="stylesheet" href="/css/home.css">
<main class="main">
    <h2>Projects</h2>
    <ul class="project-list">
        <!-- Project items will be dynamically added here -->
        <% projects.forEach(project => { %>
            <li>
                <a href="/projects/project-details/<%= project.id %>"><%= project.name %></a>
            </li>
        <% }); %>
    </ul>
    <a href="/projects/create-project" class="create-button">Create New Project</a>
</main>