<link rel="stylesheet" href="/css/home.css">
<div class="container">
    <h1>Projects</h1>
    <ul class="project-list">

    </ul>
    <a href="/create-project" class="create-btn">Create New Project</a>
</div>